.meusconhecimentos{
    width: 100%;
}

.conhecimentos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jasei-aprendendo{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.flex-know{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.seiaplicar, .aprendendo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.queroaprender{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seiaplicar, .aprendendo, .queroaprender{
    background-color: var(--background-black-t);
    padding: 10px 0;
    margin: 10px;
    border-radius: 3px;
    border: 2px solid var(--border-red-t);
    transition: all .3s ease-in-out;
}


/* --------------------------------------------------------------- */
.seiaplicar:hover, .aprendendo:hover, .queroaprender:hover{
    background-color: rgba(32, 32, 32, 0.900);
    scale: 1.03;
}
/* ---------------------------------------------------------------- */

.title-know{
    text-align: center;
    font-weight: 500;
    font-size: 160%;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--border-red-t);
    line-height: 1;
}

.icon-know{
    font-size: 260%;
    border-radius: 5px;
}

.flex-lang .icon{
    font-size: 320% !important;
}

.flex-lang{
    border-radius: 5px;
    background-color: rgb(53, 53, 53);
    border: 2px solid rgba(255, 255, 255, 0.089);
    width: 120px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.seiaplicar:hover .html{ color: #f16529}
.seiaplicar:hover .css{ color: #0097db}
.seiaplicar:hover .js{ color: #f7df1e}
.seiaplicar:hover .git{color: #fc8464}

.aprendendo:hover .php{color: #757bd6}
.aprendendo:hover .mysql{color: #2993d1}
.aprendendo:hover .sql{color: #e47834 !important}
.aprendendo:hover .reactjs{color: #61dafb}

.queroaprender:hover .nodejs{color: #8bc500}
.queroaprender:hover .reactnative{color: #61dafb}
.queroaprender:hover .typescript{color: #3178c6}
.queroaprender:hover .ruby{color: #d43e39}
.queroaprender:hover .angular{color: #db4465}
.queroaprender:hover .phyton{
    filter: saturate(1) !important;
    color: #4a9cdf;
}
.queroaprender:hover .csharp{color: #b84dd3}
.queroaprender:hover .java{
    filter: contrast(1) !important;
    color: rgb(252, 77, 77);
}
.queroaprender:hover .cplusplus{color: #0077ff}