.meusconhecimentos{
    width: 100%;
}

.conhec-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proef-estud{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.titulo-linguagens{
    text-align: center;
    font-weight: 500;
    font-size: 160%;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--border-red-t);
    line-height: 1;
}

.linguagens-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.proeficiente, .aprendendo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.queroaprender{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proeficiente, .aprendendo, .queroaprender{
    background-color: var(--background-black-t);
    padding: 10px 0;
    margin: 10px;
    border-radius: 3px;
    border: 2px solid var(--border-red-t);
    transition: all .3s ease-in-out;
}


/* --------------------------------------------------------------- */
.proeficiente:hover, .aprendendo:hover, .queroaprender:hover{
    background-color: var(--background-hover-black);
    scale: 1.03;
}
/* ---------------------------------------------------------------- */

.icon-lang{
    font-size: 260%;
    border-radius: 5px;
}

.linguagens .icon{
    font-size: 320% !important;
}

.linguagens{
    border-radius: 5px;
    background-color: rgb(53, 53, 53);
    border: 2px solid rgba(255, 255, 255, 0.089);
    width: 120px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 600;
}

.html{color: #f16529}
.css{ color: #0097db}
.js{ color: #f7df1e}
.git{color: #fc8464}

.php{color: #757bd6}
.mysql{color: #2993d1}
.sql{color: #e47834 !important}
.reactjs{color: #61dafb}

.nodejs{color: #8bc500}
.reactnative{color: #61dafb}
.typescript{color: #3178c6}
.ruby{color: #d43e39}
.angular{color: #db4465}
.phyton{
    filter: saturate(1) !important;
    color: #4a9cdf;
}
.csharp{color: #b84dd3}
.java{
    filter: contrast(1) !important;
    color: rgb(252, 77, 77);
}
.cplusplus{color: #0077ff}