*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.headerLinks div{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}

.header-icon{
    font-size: 160%;
    height: 100%;
}

.headerLinks a{
    text-decoration: none;
    /* color: white; */
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 120%;
}

.headerLinks div:not(:nth-child(3)):hover{
    background-color: #9e1f278c;
}

.header-text{
    margin: 0 5px;
    display: flex;
    align-items: center;
    height: 100%;
}


.meuport{
    display: none !important;
}


@media (min-width: 768px){
    .navbar{
        display: flex !important;
    }
}

@media (max-width: 767px){
    .headerLinks a{
        width: 100%;
        height: max-content;
    }
    .headerLinks div{
        display: flex;
        justify-content: center;
        align-items: start;
        height: max-content;
        margin: 8px 0;
        padding: 10px 15px;
        width: 100%;
    }
    header{
        position: fixed;
        margin-top: -55px;
        height: 50px !important;
        display: flex;
        justify-content: space-between;
        z-index: 1;
    }
    .meuport{
        display: flex !important;
    }
    .meuport-on{
        display: none !important;
    }
    .header-icon{
        color: #FF2D2D;
    }
    .content1-site{
        margin-top: 55px;
    }
    .navbar{
        position: absolute;
        right: 0;
        padding: 0 !important;
        background-color: rgb(32, 32, 32);
        height: 100vh !important;
        width: 50% !important;
        justify-content: flex-start !important;
        margin-top: 50px !important;
    }

    .header-icon{
        font-size: 0;
    }
    .menu-unclicked{
        display: inherit !important;
        width: max-content;
        height: max-content;
        margin: auto 10px;
    }
    .menu-clicked{
        display: none !important;
    }
    .burguer-open{
        display: inherit !important;
        width: max-content;
        height: max-content;
        margin: auto 10px;
    }
}

