.link-contato{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 100px;
    padding: 0 15px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.089);
    background-color: var(--background-black-t);
    color: whitesmoke;
    text-decoration: none;
}

.link-contato p{
    font-size: 130% !important;
}

.icon-contato{
    font-size: 250%;
}

.link-contato:hover .github{
    color: rgb(124, 105, 231);
}

.link-contato:hover .linkedin{
    color: rgb(127, 197, 255);
}

.link-contato:hover .instagram{
    color: #E1306C;
}

@media (max-width: 768px) {
    .link-contato{
        margin: 10px;
    }
}