*{
    --background-black-t: rgba(32, 32, 32, 0.500);
    --border-red-t: rgba(206, 108, 108, 0.2);
    --background-hover-black: rgba(32, 32, 32, 0.900);
}


.all{
    background-color: black;
    width: 100%;
    height: max-content;
    overflow: hidden;
    position: relative;
}

.backimg{
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    height: auto;
    filter: blur(8px) brightness(60%);
    position: absolute;
    z-index: 1;
}
.conteudo{
    color: whitesmoke;
    position: relative;
    z-index: 2;
}

.content1-site{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
